<html>
<head>
<title>
{% block title %}
{% endblock title %}
</title>
<link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
<style>
{% block style %}
{% endblock style %}
</style>


</head>
<body>
{% block body %}
{% endblock body %}
</body>
</html>