{% extends 'base.html' %}



{% block style %}
.container{
display:inline-grid;
column-gap:5px;
row-gap:-5px;
margin-left:15px;
grid-template-columns: auto auto auto auto;
grid-template-rows: auto auto auto auto;
 

}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    margin:10px;
    width:250px;
    height:200px;
    border-radius:8px;
    padding:10px;
    background:#2F2F31;
    color:white;
    font-family: 'Lobster', cursive;
}

.heading{
    margin-left:4%;
    font-family: 'Lobster', cursive;
    font-size:50px;
}

a{
    text-decoration: inherit;
    color: inherit;
    
    
}

.card:hover{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
     border-radius:25px;
     transition: 0.3s;
     
}
a:hover{
    text-decoration: none;
     color: none;
     color:black;
}
{% endblock style %}


{% block body %}

<div class="container" >
{% for x in posts  %}




<a href="view/{{x[0]}}">
<div class="card" >
<h2>{{x[1]}}</h2>

</div>
</a>

{% endfor %}
</div>
{% endblock body %}
